{
  "BLSTMIndiArff": {
    "_type": "BLSTM",
    "model-file": "${MODEL_FILE}",

    "features": [
      "src",
      "activity",
      "type_1",
      "type_133",
      "type_171",
      "type_0",
      "type_128",
      "type_2",
      "type_14",
      "type_140",
      "type_132",
      "type_136",
      "type_141",
      "type_138",
      "type_43",
      "type_10",
      "type_142",
      "type_4",
      "type_7",
      "type_8",
      "type_5",
      "type_6",
      "type_16",
      "type_3",
      "type_11",
      "type_139",
      "type_9",
      "type_12",
      "type_137",
      "type_13",
      "data;PID Setpoint",
      "data;PID Gain",
      "data;PID Reset",
      "data;PID Deadband",
      "data;PID Cycle Time",
      "data;PID Rate",
      "data;system mode_0",
      "data;system mode_1",
      "data;system mode_2",
      "data;control schema",
      "data;pump",
      "data;solenoid",
      "data;Scaled Gas Pressure",
      "length",
      "crc",
      "timestamp"
    ],
    "preprocessors": [
      {
        "method": "indicate-none",
        "features": [
          "data;PID Setpoint",
          "data;PID Gain",
          "data;PID Reset",
          "data;PID Deadband",
          "data;PID Cycle Time",
          "data;PID Rate",
          "data;system mode_0",
          "data;system mode_1",
          "data;system mode_2",
          "data;control schema",
          "data;pump",
          "data;solenoid",
          "data;Scaled Gas Pressure"
        ]
      }
    ],
    "trainon": 1.0,
    "allow-none": true,

    "learning_rate": [0.008308068713017282],
    "batch_size": [67],
    "dropout": [0.019025378121254512],
    "hidden_layer_size": [110],
    "epochs": 50,
    "sequence_length": 4,
    "step": 4,

    "verbose": 10,
    "adjust": true
  }
}
