{
  "SupportVectorMachineArff": {
    "_type": "SVM",
    "model-file": "${MODEL_FILE}",

    "features": [
      "src",
      "activity",
      "type_1",
      "type_133",
      "type_171",
      "type_0",
      "type_128",
      "type_2",
      "type_14",
      "type_140",
      "type_132",
      "type_136",
      "type_141",
      "type_138",
      "type_43",
      "type_10",
      "type_142",
      "type_4",
      "type_7",
      "type_8",
      "type_5",
      "type_6",
      "type_16",
      "type_3",
      "type_11",
      "type_139",
      "type_9",
      "type_12",
      "type_137",
      "type_13",
      "state;4:PID Setpoint",
      "state;4:PID Gain",
      "state;4:PID Reset",
      "state;4:PID Deadband",
      "state;4:PID Cycle Time",
      "state;4:PID Rate",
      "state;4:control schema",
      "state;4:pump",
      "state;4:solenoid",
      "state;4:Scaled Gas Pressure",
      "state;4:system mode_0",
      "state;4:system mode_1",
      "state;4:system mode_2",
      "length",
      "crc",
      "timestamp"
    ],
    "preprocessors": [],
    "trainon": 1.0,

    "C": [346.219],
    "kernel": ["rbf"],
    "degree": [3],
    "gamma": [0.3975],
    "coef0": [0.0],
    "shrinking": [true],
    "probability": [false],
    "tol": [0.001],
    "cache_size": [1024],
    "class_weight": ["balanced"],
    "max_iter": [-1],
    "decision_function_shape": ["ovr"],
    "break_ties": [false],
    "random_state": [null],

    "scoring": null,
    "jobs": 5,
    "verbose": 10
  }
}
